<!DOCTYPE html>
<html>
       <head>
            {%load staticfiles%}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{%static "css/materialize.css" %}" media="screen,projection"/>
            <link rel="stylesheet" href="{%static "css/style.css" %}" media="screen" charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>
            {% block title %}{% endblock title %}
            </title>
       </head>
       <body>
            {% if messages %}
                <div class="container white-text flow-text">
                    <ul>
                        {% for message in messages %}
                            <blockquote>{{message}}</blockquote>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="content">
                {% block content%}{% endblock content%}
            </div>
            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="{%static "js/materialize.js" %}"></script>
            <script type="text/javascript" src="{%static "js/script.js" %}"></script>
       </body>

</html>
