{% extends "main.html"%}
{% block title%}Learn Estatistica - FONTE{% endblock title%}
{%load staticfiles%}
{% block content %}
  <section class="container content white-text flow-text">
  	<h3>Utilizamos como fonte:</h3>
  	<ul class="collection indigo-text darken-4">
		<li class="collection-item">Portal USP: https://disciplinas.stoa.usp.br/pluginfile.php/1042521/mod_resource/content/1/separatrizes.pdf</li>
		<li class="collection-item">Mapa da Prova: http://www.mapadaprova.com.br/questoes/de/racioc--logico-e-matematico/estatistica-basica/medidas-de-dispersao</li>
    <li class="collection-item">Saber da Matemática: http://sabermatematica.com.br/questoes-resolvidas-media.html</li>
    <li class="collection-item">Vivendo entre simbolos: http://www.vivendoentresimbolos.com/2012/08/medidas-de-tendencia-central-media-moda.html</li>
    <li class="collection-item">Clube de Matemática da OBMEP: http://clubes.obmep.org.br/blog/</li>
    <li class="collection-item">Portal Action: http://www.portalaction.com.br/estatistica-basica</li>
    <li class="collection-item">MONTGOMERY, Douglas C.; RUNGER, Estatística Aplicada e Probabilidade para Engenheiros., Editora: LTC, 2003</li>
    <li class="collection-item">TOLEDO, Geraldo Luciano e outros. Estatística Básica. 2a edição, SP, Editora Atlas 1995</li>
    <li class="collection-item">FONSECA,J.S. da MARTINS,G. de A E TOLEDO G.L. Estatística Aplicada.Atlas. 1996.</li>
	</ul>
  </section>
  <footer>
    <div class="container white-text">
      <div class="row" style="padding-top:25px;">
        <div class="col s6 push-s3" style="padding-top:15px;">
          <a class="waves-effect waves-light btn-large red button-menu" href="{%url 'credits' %}"><img class="inside-img" src="{%static "img/cre.png"%}"/>Créditos</a><br>  
        </div>
        <div class="col s4 push-s1" style="padding-top:15px;">
        <a class="waves-effect waves-light btn-large red button-menu" href="{%url 'home1' %}"><img class="inside-img" src="{%static "img/reset.png"%}"/>Voltar</a><br> 
        </div>
      </div> 
    </div>
  </footer>

{% endblock content%}