main {
  flex: 1 0 auto;
}
body{
    background-color: #0759A5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
footer{
    background-color: #07a5a2;
    min-height: 80px;
}
.content{
    min-height: 800px;
}
img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
/* Disable grayscale on hover */
img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
