 #link {
    max-width: 200px;
    display: none;
 }
footer{
    background-color: #07a5a2;
    display: flex;
    min-height: 120px;
}
.content{
    min-height: 650px;
}
.gray-effect {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
/* Disable grayscale on hover */
.gray-effect:hover {
  filter: none;
  filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0);
}
.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rotate{
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.rotate:hover{
   -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.inside-img {
  display:block;
  float:left;
  width:40px;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.button-menu{
  min-width: 200px;
  min-height: 20px;
}

.text-blue{
  -moz-text-decoration-color: #0759A5; /* Code for Firefox */
    text-decoration-color: #0759A5;
}
#centro-horizontal{
  display: block;
    margin: auto;
    width: 90%;
    padding: 20px;
}

label{
  color: white;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
  border: 2px solid #fafafa;
}