{% extends "main.html"%}
{% block title%}Learn Estatistica - MENU{% endblock title%}
{%load staticfiles%}
{% block content %}
  <section class="container content">
    <div class="flow-text">
      <p class="white-text">Este projeto foi desenvolvido durante o ano de 2016, na disciplina de estatistica.<br>
      Foi realizado pelos alunos:</p>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="{%static "img/pedro.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Backend e Design</span>
          <p>Pedro Henrique Lopes de Castro<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Estevão<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/banana.png"%}" alt="Recruta" class="circle">
          <span class="title">Design</span>
          <p>Emanoel Bruno do Nascimento Guimarães<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Túlio Assis<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Rogenes Reis<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Túlio Poliglota<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Lucas Victor<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Lucas Nascimento Huati Correa<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Mauro Floriano dos Santos<br>
          </p>
        </li>
        <li class="collection-item avatar">
          <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
          <span class="title">Conteúdo</span>
          <p>Bruno Peixoto<br>
          </p>
        </li>
      </ul>
      <p class="white-text">
        Orientado pelo Professor:
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="{%static "img/no-photo.jpg"%}" alt="Recruta" class="circle">
            <span class="title">Professor de Estatística</span>
              <p>
              Silvio Alves de Souza<br>
              </p>
          </li>
        </ul>
      </p>
    </div>
  </section>
  <footer>
    <div class="container white-text">
      <div class="row" style="padding-top:25px;">
        <div class="col s6 push-s2" style="padding-top:15px;">
          <a class="waves-effect waves-light btn-large red button-menu" href="{%url 'home1' %}"><img class="inside-img" src="{%static "img/play.png"%}"/>Jogar</a><br>  
        </div>
        <div class="col s4 flow-text" style="padding-top:15px;">
          <h5>Soldiers of Statistic</h5>
        </div>
      </div>
    </div>
  </footer>
{% endblock content%}
