{% extends "main.html"%}
{% block title%}Learn Estatistica - FONTE{% endblock title%}
{%load staticfiles%}
{% block content %}
  <section class="container content white-text flow-text center-align">
  	<h3>Utilizamos como fonte:</h3>
  	<ul class="collection indigo-text darken-4">
		<a href="https://disciplinas.stoa.usp.br/pluginfile.php/1042521/mod_resource/content/1/separatrizes.pdf"><li class="collection-item">Portal USP</li></a>
		<a href="http://www.mapadaprova.com.br/questoes/de/racioc--logico-e-matematico/estatistica-basica/medidas-de-dispersao"><li class="collection-item">Mapa da Prova</li></a>
	</ul>
  </section>

{% endblock content%}